--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu

fastapi
uvicorn
pydantic
requests
beautifulsoup4
lxml
numpy
faiss-cpu
sentence-transformers
scikit-learn
pandas
python-dotenv
rank-bm25
openpyxl
tqdm